:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;


  --bg-fundo-site: #222;
  --bg-calculadora: #000000;
  
  --bg-screen: #000000;
  --text-screen: #ffffff;

  --btn-num-bg: #a1c405;
  --btn-num-text: #ffffff;

  --btn-op-bg: #3d969b; 
  --btn-op-text: #ffffff;
  
  --btn-ac-bg: #c93123; 
  --btn-ac-text: #ffffff;



}

html{
  overflow: hidden;
}
body, html {
  margin: 0;
  padding: 0;
  scrollbar-color: #3b423a #6d7659 !important; 
  scrollbar-width: auto;
}
* {
  box-sizing: border-box;
}
